
<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>El Hincha</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

   <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="/bower_components/wow.js/css/libs/animate.css"/>
     <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css">
    <link rel="stylesheet" href="bower_components/wow.js/css/libs/animate.css"/>
   <link href='/styles/main.css' rel='stylesheet' type='text/css'>
    
    
    
  <script src="/bower_components/d3/d3.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  <h1 class="wow fadeIn"> <img class="logo" src="/images/logo.png"> 
  </h1>
 <div class="row">
          <div class="col s12">
      <h3> ¿Qué atractivo deportivo le podemos dar a las elecciones? </h3>
      <h4> Prendete en la elección nacional de equipos de fútbol.</h4>
    </div>
</div>
  <div ng-app="myApp">
  <div class="home" ng-controller="formController">
  <div class="section search search-form row">
      <div class="row">
          <div class="col s12">
              <div class="row">
                <form class="col s12">

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="nombre" type="text" name="nombre" class="validate" ng-model="nombre" ng-change="formChange()">
                      <label for="nombre">DNI</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="razon_social" type="text" name="razon_social" class="validate" ng-model="razon_social" ng-change="formChange()">
                      <label for="razon_social">Mesa</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <input id="direccion" type="text" name="direccion" class="validate" ng-model="direccion" ng-change="formChange()">
                      <label for="direccion">Orden</label>
                    </div>
                  </div>

                      <div class="row">
                    <select class="browser-default" ng-model="club" ng-options="p.name for p in clubes">
                      <option value="" selected>Elegi un club Nacional</option>
                      <option ng-value="p.name"></option>
                    </select>
                  </div>

                  <div class="row">
                    <div class="valign-demo  valign-wrapper">
                        <div class="valign full-width actions">
                            <button class="waves-effect waves-light btn btn-large full" 
                            ng-href="" ng-click="sendVote()">
                             <i class="mdi-action-done left"></i>Enviar</button>
                        </div>
                    </div>
                  </div>

                </form>
              </div>

          </div>
      </div>
  </div>
</div>

  </body>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/wow.js/dist/wow.min.js"></script>
  <script src="/bower_components/queue-async/queue.min.js"></script>
  <script src="/bower_components/underscore/underscore-min.js"></script>
  <script src="/bower_components/bootstrap/bootstrap.js"></script>
  <script src="/bower_components/doT/doT.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/materialize/bin/materialize.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  
  <script src="bower_components/wow.js/dist/wow.min.js"></script>
  
  
  
 
  <script src="/scripts/angular-app.js"></script>
  <script src="/angular/controllers/form/controller.js"></script>

</html>
